

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Select a Provider
        </h3>
      </div>
        <div class="panel-body">
          <% @providers.each do |user_provider| %>
          <%= link_to "#{user_provider.first_name}", appointments_book_path(provider_id: user_provider.provider.id) %>
          <% end %>
        </div>

        <div class="text-center">
    </div>
  </div>
</div>











