
<div class="container">
<h1>Find a Therapist</h1>
<div class="col-xs-6">
<table>
  <thead>
    <tr>
      <th>Therapist</th>

      <th>Bio</th>
      <th colspan="3"></th>
    </tr>
  </thead>
</div>

  <tbody>
    <% @providers.each do |user_provider| %>
      <tr>
        <td><%= link_to "#{user_provider.first_name}", appointments_book_path(provider_id: user_provider.provider.id) %></td>
        <td><%= user_provider.bio %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>



