<h1>Patient Dashboard</h1>

<%= link_to "My Appointments", appointments_path %>
<br>
<p></p>
<%= link_to "Find a Provider",  providers_find_a_provider_path %>
<br>
<p></p>
<%= link_to "My Profile", dashboard_patient_profile_path %>
