<!-- This fixed the bad modal situation -->
<!-- = link_to "Index", "/session/index", :id => "end-session", method: :get %></p> -->

  <div id="videos">
    <div class="col-lg-9">
      <div id="subscriber"></div>
      <div id="publisher"></div>
    </div>

 <div class="col-lg-3">
  <section class="module">

  <header class="top-bar">
  </header>

  <ol class="conversation">
      <div id="history"></div>
  </ol>
 </section>

<form>
<input type="text" placeholder="Write your message here" id="msgTxt">
<button type="submit" class="btn btn-success">Enter</button>
</form>
</div>


<script>
  if ($("#toks.view")){
    console.log('starting session');
    $(document).on('ready page:load', initializeSession("<%= j @session.session_id %>", "<%= j current_user.first_name %>") );
  }
</script>





<!--
<li>
  <div class="avatar">
    <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/5/profile/profile-80_9.jpg" />
  </div>
  <div class="messages">
    <p>yeah, they do early flights cause they connect with big airports.  they wanna get u to your connection</p> -->
    <!-- <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
  </div>
</li> -->

<!-- <li class="self">
  <! ... -->
<!-- </li>
<li class="other"> -->
  <!-- ... -->
<!-- </li> -->



