<!-- This fixed the bad modal situation -->
<p><%= link_to "Index", "/session/index", :id => "end-session", method: :get %></p>

  <div id="videos">
    <div class="col-lg-9">
      <div id="subscriber"></div>
      <div id="publisher"></div>
    </div>
    <div class="col-lg-3">
      <div id="textchat"></div>
      <div id="history"></div>
    </div>
  </div>

<form>

<input type="text" placeholder="Write your message here" id="msgTxt">

</form>


<script>
  if ($("#toks.view")){
    console.log('starting session');
    $(document).on('ready page:load', initializeSession("<%= j @session.session_id %>", "<%= j current_user.first_name %>") );
  }
</script>









