<!-- Section about Tod page -->
<h1 class="animated fadeIn about_title"> About us </h1>

<br>

<p class="animated fadeIn about_us"> In designing Therapist On Demand (TOD) we wanted to build a simple and unique user experience that any person could have with a therapist from anywhere, through any computer or smartphone, on their own time, in complete privacy.

TOD is a platform therapists can use to handle scheduling, interact with patients and as another channel for acquiring new clients. For patients, TOD is the instant therapy room on the go. We aim to build the closest thing to a real life therapy session from your computer or smartphone, a "couch-on-the-go".

Our Mission Statement is caring for people through technology. Therapist on Demand - talk with a therapist anytime, anywhere. </p>

<div class="col-md-4"><%= image_tag 'Gabe.png', class: "animated fadeIn img-circle about-photo", alt: "Responsive image" %><span id= "gabe" class="animated fadeIn">Gabriel Noboa</span></div>


<div class="col-md-4"><%= image_tag 'Jan.png', class: "animated fadeIn img-circle about-photo", alt: "Responsive image" %><span id= "jan" class="animated fadeIn">Jan Ding</span></div>


<div class="col-md-4"><%= image_tag 'Marvin.png', class: " animated fadeIn img-circle about-photo", alt: "Responsive image" %><span id= "marvin" class="animated fadeIn">Marvin Lusky</span></div>

