<div class="section-about section bg-alt">
<div class="container" style="opacity: 1;">
  <div class="row">
    <div>
      <h1 class="todheading">What is Tod?</h1>
      <div class="row about-block wrapper">
        <div class="about-block pull-right">
          <h3>
              <%= embedded_svg "noun_69742_cc.svg", class: "talk" %>
            </span>
          </h3>
          <p>Schedule an appointment.</p>
          <p>Search for a provider.</p>
      </div>

  <div class="col-md-4">.col-md-4</div>




  <div class="col-md-4">.col-md-4</div>





  <div class="col-md-4">.col-md-4</div>









  </div>










</div>