<!-- Section about Tod page -->

<div class="section-about section bg-alt">
<div class="container" style="opacity: 1;">
  <div class="row">
    <div>
    <!-- Tod heading -->
      <h1 class="todheading">Why Tod?</h1>
      <div class="row about-block wrapper">
        <div class="about-block pull-right">
    <!-- Tod is Easy section -->
          <%= embedded_svg "search.svg", class: "search" %>
          <h3>Easy</h3>
          <p>Quick search for therapists</p>
    <!-- Tod is Secure section -->
         <%= embedded_svg "chat.svg", class: "chat" %>
          <h3>Secure</h3>
          <p>Information kept private</p>
    <!-- Tod is Convenient section -->
          <%= embedded_svg "calendar.svg", class: "calendar" %>
          <h3>Convenient</h3>
          <p>Book a time that works for you</p>
        </div>
      </div>
</div>