<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="option-container">
        <%= embedded_svg "speak.svg", class: "talk" %>
        <br><br>
        <button type="button" class="btn btn-primary btn-lg outline">
        <%= link_to "I want to talk", new_user_registration_path, :class => 'navbar-link'  %>
        </button>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="option-container">
        <%= embedded_svg "ear.svg", class: "ear" %>
        <button type="button" class="btn btn-primary btn-lg outline">
         <%= link_to "I want to listen", providers_sign_up_path, :class => 'navbar-link'  %>
        </button>
      </div>
    </div>
  </div>
</div>
