<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="option-container">

        <button type="button" class="btn btn-primary btn-lg">
        <%= link_to "I want to talk", new_user_registration_path, :class => 'navbar-link'  %>
        </button>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="option-container">
        <button type="button" class="btn btn-primary btn-lg">
         <%= link_to "I'm a therapist", providers_sign_up_path, :class => 'navbar-link'  %>
        </button>
      </div>
    </div>
  </div>
</div>