<!-- Front page -->

<div class="contrainer">
<div class="inner cover">
<!-- Tod Icon at Front -->

  <%= image_tag 'main-logo.svg', width: "45%", class: "animated zoomIn main-logo" %>
  <!-- Tod motto -->
  <h2 class="animated fadeInUpBig cover-heading">Therapist on Demand</h2>
  <p class="animated fadeInUpBig lead">Talk with a therapist anytime, anywhere.</p>
  <p class="lead">
  <%=link_to 'Sign Up Now', signup_path, class: "animated fadeInUpBig btn btn-lg btn-tod-splash" %>
  </p>

</div>
<br>
<div class="mastfoot">
    <p>Made with <i class="glyphicon glyphicon-heart"></i> by people who care about people</p>
</div>








