<!-- How does TOD work? -->
<div class="section-about section bg-alt">
  <div class="container" style="opacity: 1;">
    <div class="row">
      <div>
      <!-- Tod heading -->
        <h1 class="todheading">How does Tod work?</h1>
        <div class="row about-block wrapper">
          <div class="about-block pull-right">
        <!-- Step. 1 Sign up -->
            <%= embedded_svg "fillform.svg", class: "fillform" %>
            <p>1. Sign up</p>
      <!-- Step 2. Book an appt  -->
            <%= embedded_svg "24hours_time.svg", class: "hours" %>
            <p>2. Book an appt</p>
      <!-- Step 3. Join video call  -->
            <%= embedded_svg "tod_icon.svg", class: "tod-icon" %>
            <p>3. Join video call with therapist</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
