/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "availabilities";
@import "sessions";
@import url(http://fonts.googleapis.com/css?family=Robato);
@import "animate";

$home-color: #50ca93;
$signup-color: #4bbde3;

/*
 * Globals
 */



/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #000;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.btn.outline {
  background: none;
  padding: 12px 22px;
}

.btn-primary.outline {
  border: 2px solid #0099cc;
  color: #0099cc;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

  // background: #FFAB91;

// Sign up splash button
.btn-tod-splash {
  @include button-variant(#FAFAFA, #fea978, #fea978);
  animation-delay: 0.75s;

}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: $home-color;
}
body {
  text-align: center;
}

#pages.signup {
  background-color: $signup-color;

}

// This is our splash page

.main-logo {
  color: #FAFAFA;
  height: 100%;
  animation-delay: 0.5s;
}

#heading {
  font-family: Lato;
  font-size: 71px;

}

.cover-heading {
  font-size: 45px;
  color: #FAFAFA;
  font-family:  Oswald Normal 400;

}

.lead {
  color: #FAFAFA;
  animation-delay: 0.5s;

}

// Sign up as provider or patient

.talk {
  fill: #FAFAFA;
  padding: 0;
  height: 50%;
}

.ear {
  fill: #FAFAFA;
  padding: 0;
  margin: auto;
}

// About TOD page

.todheading {
  color: rgb(60, 202, 255);
  font-weight: bold;
  font-size: 24px;
}



// Sign up page with boxes
.option-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  margin: 15px auto;
  height: 45vh;
  width: 80%;
  border: 2px solid white;
  text-align: center;
}
.option-container p {
  color: white;
  font-size: 1.15em;
  text-align: center;
  margin: 20px 0px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;

}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  > a {
    color: #FAFAFA;
    font-size: 30px;
    text-decoration: none;
    &:hover{
      color: rgba(255,255,255,0.5);
      transition: color 0.5s;
    }
  }
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  font-size: 16px;
  font-weight: bold;
  color: #FAFAFA; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border: 2px solid transparent;
  padding: 5px 10px;

}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-color: rgba(255,255,255,.75);

}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #FAFAFA;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;

  }
}

// Dashboard Providers







// Dashboard Patients






