.date input {
    display: none;
}

.date span {
    background-color: #CCCCCC;
}

 .date input:checked + span {
    background-color: #00FFFF;
}

.time.blue {
  background-color: blue;
}

.time:hover {
  background-color: white;
  font-size: 19px;
}

.panel-title {
  font-size: 22px
}

.no-display input {
    /*display: none;*/
}
span.date {
  font-size: 18px;
}

span.timeblocks {
    background-color: #CCCCCC;
}

.no-display input:checked + span {
    background-color: #00FFFF;
}
.day {
  background-color: transparent;
  }


