/*// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

#publisher {
  position: absolute;
  right: 0;
  margin-top: -120px;
  margin-right: 20px;
}

#subscriber {
  height: 90vh;
  background: black;
  @media (max-width: 414px) {
    height: 50vh;
  }
}


#msgTxt {
  font-family: "Helvetica Neue", Arial;
  color: gray;
  font-weight: regular;
  border-radius: 5px;
  width: 275px;
  padding: 3px;
  margin: 5px;

}

#history {
  font-family: "Helvetica Neue", Arial;
  font-weight: regular;
  font-size: 18px;
  border-radius: 5px;

}

.mine {
  color: #fafafa;
  padding: 5px;
  font-size: 14px;
  border-style: solid;
  border-width:2px;
  background-color: #039BE5;
  border-color: #fafafa;
  border-radius: 2px solid;
  outline: none;
  border-radius: 5px;

}

.theirs {
  color: #039BE5;
  display: flex-left;
  padding: 5px;
  font-size: 14px;
  border-style: solid;
  border-width:2px;
  background-color: #fafafa;
  border-color: #039BE5;
  border-radius: 2px solid;
  outline: none;
  border-radius: 5px;
  align-items: flex-end;

}

.conversation {
  display: flex;
  list-style: none;
  background: #FAFAFA;
  margin: auto;
  padding: 10px;
  height: 300px;
  overflow-y: auto;
  border-radius: 5px;
  @media (max-width: 414px) {
    height: 180px;
  }
}

.module {margin-top:20px;}



 .input-group-btn:last-child > .btn {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: #039BE5;
  background-color: #FAFAFA;

}

// .avatar {
//   width: 40px;
// }
// .avatar img {
//   width: 100%;
//   display: block;
// }
