/*// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

#publisher {
  position: absolute;
  right: 0;
  margin-top: -120px;
  margin-right: 20px;
}
