/*// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

#publisher {
  position: absolute;
  right: 0;
  margin-top: -120px;
  margin-right: 20px;
}

#subscriber {
  height: 90vh;
  background: black;
}


#msgTxt {
  font-family: "Helvetica Neue", Arial;
  color: gray;
  font-weight: regular;
}

#history {
  font-family: "Helvetica Neue", Arial;
  font-weight: regular;
  font-size: 18px;
}

.mine {
  color: #2196F3;

}

.theirs {
  color: #4CAF50;

}

.conversation {
  display: flex;
  list-style: none;
  background: #FAFAFA;
  margin: auto;
  padding: 0 0 50px 0;
  height: 500px;
  overflow-y: auto;

}
// .avatar {
//   width: 40px;
// }
// .avatar img {
//   width: 100%;
//   display: block;
// }
