/*// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

#publisher {
  position: absolute;
  right: 0;
  margin-top: -120px;
  margin-right: 20px;
}

#subscriber {
  height: 90vh;
  background: black;
}


#msgTxt {
  font-family: "Helvetica Neue", Arial;
  color: gray;
  font-weight: regular;
}

#history {
  font-family: "Helvetica Neue", Arial;
  font-weight: regular;
  font-size: 18px;
}

.mine {
  color: #fafafa;
  padding: 5px;
  font-size: 14px;
  border-style: solid;
  border-width:2px;
  background-color: #039BE5;
  border-color: #fafafa;
  border-radius: 2px solid;
  outline: none;
  border-radius: 15px 10px 5px;
  display: left;

}

.theirs {
  color: #039BE5;
  display: flex-left;
  padding: 5px;
  font-size: 14px;
  border-style: solid;
  border-width:2px;
  background-color: #fafafa;
  border-color: #039BE5;
  border-radius: 2px solid;
  outline: none;
  border-radius: 15px 10px 5px;
  justify-content: flex-left;

}

.conversation {
  display: flex;
  list-style: none;
  background: #FAFAFA;
  margin: auto;
  padding: 0 0 50px 0;
  height: 300px;
  overflow-y: auto;

}
// .avatar {
//   width: 40px;
// }
// .avatar img {
//   width: 100%;
//   display: block;
// }
