#msgTxt {
  margin-top: 10px;
  width: 100%;
}

#history {
  height: 100px;
  margin-top: 10px;
  background-color: white;
  overflow-y: scroll;
  border-radius: 5px;
}

#end-session {
  margin-top: 10px;
}